{% extends "base.html" %}
{% block content %}

<main>

<div class="vertical-align-middle center container">
    <div class="card-panel hoverable" id='main-card'>
        <h1 class="animated jackInTheBox header" id='dashbots'>DomiLand Modmail
        <br> Logs
        </h1>
        <h5 class="header col s12 light grey-text">View DomiLand's Modmail logs</h5>
        <h5 class="header col s12 light grey-text">-Modmail set up by hpenney2, created by kyb3r-</h5>
        <br>
        <div class="row center">
            <a href="https://github.com/kyb3r/modmail" class="btn waves-effect my-button">Github (Original)</a>
            <a href="https://github.com/kyb3r/modmail/wiki" class="btn waves-effect my-button">Wiki</a>
            <a href="https://patreon.com/kyber" class="btn waves-effect my-button">Patreon</a>
            <br>
        </div>
    </div>
</div>

</main>

{% endblock %}
